# Virtual environment - NEVER commit this
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables - NEVER commit
.env

# FAISS index (use Git LFS or regenerate locally)


# HuggingFace model cache
*.bin
*.pt
*.pth

# Logs
logs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

#qdrant .lock file
*.lock